<?xml version="1.0" encoding="utf-8" ?>

<!--Using group is optional (can be handy if there is different configs groups inside database maybe)-->
<!--For typed params (not string) + statically named params + presets, see "ProductSettings" and "DellSettings" 
	in this example https://www.c-sharpcorner.com/article/four-ways-to-read-configuration-setting-in-c-sharp/-->

<configuration>
	<appSettings>
		<add key="DatabaseName"				value="MarketDatabase" />
		<add key="DatabaseInstanceName"		value="SQLEXPRESS" />
		<add key="DatabaseIp"				value="192.168.56.101" />
		<add key="DatabasePort"				value="50488" />
		<add key="DatabaseUsername"			value="amitZivan" />
		<add key="DatabasePassword"			value="passMarket" />
		<add key="ShouldUpdateDatabase"		value="True"/>
		<add key="ShouldRunInitFile"		value="True"/>
		<add key="InitFilePath"				value="init.json"/>
		<add key="WebsocketServerPort"		value="7890" />
	</appSettings>
</configuration>